body {
	background-image: url("taustakuva1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 20%;
	font-family: Times New Roman;
	}
	h1 {
	font-size: 600%;
	color: #000000;
	text-align: center;
	font-family: Times New Roman;
	font-weigh: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #000000;
	margin-top: 30px;
	}
	h2 {
	color: #43c949;
	text-shadow: 1px 3px black;
	font-size: 2.2em;
	}
	* {
		box-sizing: border-box;
	}
	.box {
	float: left;
	width: 18%;
	padding: 10px;
	text-align: center;
	}
	.topnav:after {
	content: "";
	display: table;
	clear: both;
	}	
	p {
	color: #ffffff;
	font-size: 1.2em;
	}
	a {
	text-shadow: 1px 1px black;
	background-color: #43c949;
	padding: 5px 10px;
	color: #ffffff;
	font-size: 1.5em;
	float: center;
	}
	a:hover, a:active {
		background-color: purple;
	}
	
	
	@media screen and (max-width: 1500px) {
	.box {
    float: none;
    display: block;
  }
	h2 {
	text-align: center;
	}
	p {
	text-align: center;
	}
	.topnav {
		width: 40%;
		margin: 0 auto;
	}