body {
	background-image: url("taustakuva1.jpeg");
	margin: 0 20%;
	font-family: Times New Roman;
	}
	h1 {
	font-size: 600%;
	color: #000000;
	text-align: center;
	font-family: Times New Roman;
	font-weigh: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #000000;
	margin-top: 30px;
	}
	h2 {
	color: #43c949;
	font-size: 2em;
	}
	p {
	color: #ffffff;
	font-size: 1.2em;
	}
	a {
	color: #ffffff;
	font-size: 1.0em;
	float: center;
	}